<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <a
      href="../../assets/resume-zuyin_alvin_zheng.pdf"
      target="_blank"
      class="row"
    >
      <div class="col-12 col-sm">
        <img
          src="../../assets/resume-zuyin_alvin_zheng_p1.jpg"
          class="img-fluid"
        />
      </div>
      <div class="col-12 col-sm">
        <img
          src="../../assets/resume-zuyin_alvin_zheng_p2.jpg"
          class="img-fluid"
        />
      </div>
      <div class="col-12 col-sm">
        <img
          src="../../assets/resume-zuyin_alvin_zheng_p3.jpg"
          class="img-fluid"
        />
      </div>
    </a>
  </div>
</div>
