<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="markdown-body"><h2>Working Papers</h2>
      <h3>2nd Round at ISR</h3>
      <p> “On Using the Lottery in Crowdfunding Platforms: ‘Crowding In’ the Masses or ‘Crowding Out’
        Success?” <br> Zheng, Z., Gong, J. &amp; Pavlou, P., . </p>
      <h3>1st Round at POM</h3>
      <p> “Matching in Online Labor Markets for IT Services: Bid Price Dispersion, Buyer Indecision,
        and Freelancer Regret”.<br> Zheng, Z., Hong, Y. &amp; Pavlou, P., </p>
      <h3>Working Paper</h3>
      <p> “The Filtering Effect of ‘Freemium’ on Customer Retention in the Software Industry”. <br
      >Zheng, Z., Niculescu, M., &amp; Pavlou, P., </p>
      <p> “Does Position Matter More on Mobile? Ranking Effects across Devices”. <br>
        Zheng, Z., Li, T. &amp; Pavlou, P., </p>
      <p> “The Bright Side of Failure in Online Gaming”. <br> Zheng, Z., Zhang, C.,
        Pavlou, P., &amp; Luo, X., </p>
      <p> “Privacy Concerns and Social Recognition Trade Off: Two Natural Experiments on the Role of
        Online Identity in Crowdfunding”. <br> Zheng, Z., Barzilay, O., &amp; Pavlou, P., </p>
      <h3>Research in Progress</h3>
      <p> “Does Social Feature Make App Users More Engaging? A Natural Experiment”. <br
      >Zheng, Z., Peng J.., &amp; Li X., </p>
      <p> “When Will App Users Be Bothered by Ads? A Randomized Field Experiment”. <br
      > Zheng, Z., Gong, J. &amp; Pavlou, P., </p></div>
  </div>
</div>
