<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="markdown-body">
      <h2>Paper Under Review</h2>
      <h3>2nd Round @ ISR</h3>
      <h4>
        On Using the Lottery in Crowdfunding Platforms: Implications for Project
        Success and Backer Behavior
      </h4>
      <p>
        Zheng, Zuyin (Alvin), Jing Gong & Paul Pavlou
        <small>• Under 2nd Round Review at Information Systems Research</small>
      </p>
      <h3>1st Round @ POM</h3>
      <h4>
        Matching in Online Labor Markets for IT Services: Bid Price Dispersion,
        Buyer Indecision, and Freelancer Regret
      </h4>
      <p>
        Zheng, Zuyin (Alvin), Yili Hong & Paul Pavlou
        <small
          >• Under 1st Round Review at Production and Operations Management
        </small>
      </p>
      <h2>Working Papers</h2>
      <h4>
        The Filtering Effect of ‘Freemium’ on Customer Retention in the Software
        Industry
      </h4>
      <p>
        Zheng, Zuyin (Alvin), Marius Florin Niculescu, & Paul Pavlou
        <small>• Final Preparation for Submission to MIS Quarterly</small>
      </p>
      <h4>Does Position Matter More on Mobile? Ranking Effects across Devices</h4>
      <p>
        Zheng, Zuyin (Alvin), Ting Li & Paul Pavlou
        <small>• Preparation for Submission to Information Systems Research</small>
      </p>

      <h4>Privacy Concerns and Soc ial Reco gnit ion Trade Off: Two Natural Experiments on the Ro le of Contribution Records in Crowdfunding</h4>
      <p>
        Zheng, Zuyin (Alvin), Ohad Barzilay & Paul Pavlou
        <small>• Drafting, Target: Management Science</small>
      </p>
      <h2>Research in Progress</h2>

      <h4>When Will App Users Be Bothered by Ads? A Randomized Field Experiment</h4>
      <p>
        Zheng, Zuyin (Alvin), Jing Gong & Paul Pavlou
        <small>• Data Analyses, Target: Management Science</small>
      </p>

      <h4>Does Social Feature Make App Users More Engaging? A Natural Experiment</h4>
      <p>
        Zheng, Zuyin (Alvin), Jing Peng & Xinxin Li
        <small>• Data Analyses, Target: Management Science</small>
      </p>
    </div>
  </div>
</div>
