<h1 class="global-page-title">
  Working Papers
</h1>
<dl>
  <dt>2nd Round at ISR</dt>
  <dd>
    “On Using the Lottery in Crowdfunding Platforms: ‘Crowding In’ the Masses or ‘Crowding Out’ Success?”
    <br>
    Zheng, Z., Gong, J. & Pavlou, P., .
  </dd>
  <dt>1st Round at POM</dt>
  <dd>
    “Matching in Online Labor Markets for IT Services: Bid Price Dispersion, Buyer
    Indecision, and Freelancer Regret”.<br>
    Zheng, Z., Hong, Y. & Pavlou, P.,
  </dd>
  <dt>Working Paper</dt>
  <dd>

    “The Filtering Effect of ‘Freemium’ on Customer Retention in the Software
    Industry”.
    <br>Zheng, Z., Niculescu, M., & Pavlou, P.,
  </dd>
  <dt></dt>
  <dd>
    “Does Position Matter More on Mobile? Ranking Effects across Devices”.
    <br>
    Zheng, Z., Li, T. & Pavlou, P.,
  </dd>
  <dt></dt>
  <dd>
    “The Bright Side of Failure in Online Gaming”.
    <br>
    Zheng, Z., Zhang, C., Pavlou, P., & Luo, X.,
  </dd>
  <dt></dt>
  <dd>
    “Privacy Concerns and Social Recognition Trade Off: Two Natural Experiments
    on the Role of Online Identity in Crowdfunding”.
    <br>
    Zheng, Z., Barzilay, O., & Pavlou, P.,
  </dd>
  <dt>Research in Progress</dt>
  <dd>
    “Does Social Feature Make App Users More Engaging? A Natural Experiment”.
    <br>Zheng, Z., Peng J.., & Li X.,
  </dd>
  <dt></dt>
  <dd>
    “When Will App Users Be Bothered by Ads? A Randomized Field Experiment”.
    <br>
    Zheng, Z., Gong, J. & Pavlou, P.,
  </dd>
</dl>



