<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="markdown-body">
      <h2 class="global-page-title">Teaching</h2>
      <h3>Instructor</h3>
      <p>
        <a
          href="https://community.mis.temple.edu/mis2502sec001s17"
          target="_blank"
          >MIS-2502 Data Analytics (Spring 2017)</a
        >
        <small>• Undergraduate level </small>
        <small>• Teaching Evaluation: 4.4/5</small>
      </p>
      <p>
        <a
          href="https://community.mis.temple.edu/zuyinzheng/pythonworkshop/"
          target="_blank"
          >Python and Web Data Extraction (Summer 2016)</a
        >
        <small
          >• PhD level workshop open to all faculty and doctoral students
        </small>
      </p>
      <h3>Teaching Assistant</h3>
      <p>
        Special Topics in Business Research (Spring 2018)
        <small> • Executive DBA Seminar</small>
      </p>
      <p>
        Quantitative Research Methods (Spring 2014)
        <small>• PhD level methodology course</small>
      </p>
    </div>
  </div>
</div>
