<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="markdown-body">
      <h2 class="global-page-title">Teaching</h2>
      <h3>Spring 2018</h3>
      <p>
        <b>Teaching Assistant</b> Special Topics in Business Research: Executive
        DBA Seminar
      </p>
      <h3>Spring 2017</h3>
      <p><b>Instructor</b> Data Analytics: evaluation 4.4/5</p>
      <p>
        <a
          href="https://community.mis.temple.edu/mis2502sec001s17"
          target="_blank"
          >https://community.mis.temple.edu/mis2502sec001s17</a
        >
      </p>
      <h3>Summer 2016</h3>
      <p>
        <b>Instructor</b> Python and Web Data Extraction: PhD level workshop
      </p>
      <p>
        <a
          href="https://community.mis.temple.edu/zuyinzheng/pythonworkshop/"
          target="_blank"
          >https://community.mis.temple.edu/zuyinzheng/pythonworkshop/</a
        >
      </p>
      <h3>Sprint 2014</h3>
      <p><b>Teaching Assistant</b> Quantitative Research Methods</p>
    </div>
  </div>
</div>
