<!-- The content below is only a placeholder and can be replaced. -->
<mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xl-5 offset-xl-1">
        <h1 class="title">{{ title }}</h1>
      </div>
      <div class="col-sm-6 col-xl-5">
        <div class="nav-btn-group">
          <a routerLink="/" mat-button>Bio</a>
          <a routerLink="/research" mat-button>Research</a>
          <a routerLink="/teaching" mat-button>Teaching</a>
          <a routerLink="/cv" mat-button>CV</a>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="inset-shadow">
  <div class="container main">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="contact inset-shadow">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col offset-xl-1">
        <span class="info">
          <fa-icon [icon]="faPhone"></fa-icon>
          <a>+1 (347)-819-0936</a>
          &nbsp;
        </span>
        <span class="info">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <a [href]="'mailto:' + myEmail">{{ myEmail }}</a>
          &nbsp;
        </span>
        <span class="info">
          <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
          <a href="https://goo.gl/maps/iYNVJAXbqy32" target="_blank">Room 201F Alter Hall</a>
          &nbsp;
        </span>
      </div>
    </div>
  </div>
</div>
