<div class="row">
  <div class="col-12 col-xl-7 offset-xl-1 col-sm-8 markdown-body">
    <h2>About Me</h2>
    <p>
      My name is Zuyin (Alvin) Zheng (郑祖荫 in Chinese). I’m a job candidate
      expected in May 2019 at Department of Management Information Systems, Fox
      Business School, Temple University.
    </p>
    <p>
      My research focuses on how to retain customers, facilitate engagement and
      promote value-creating interactions in online environments, such as online
      labor markets, crowdfunding, and mobile apps from the perspective of
      platform design. In my research, I use quantitative methods including
      econometrics, field experiments, and natural experiments to answer
      real-life business questions by closely cooperating with industry
      practitioners. I strive to conduct research that is theoretically
      appealing to scholars while practically relevant to practitioners and
      managers. My current research falls into two main streams: two-sided
      platforms and app economy.
    </p>
    <p>
      I have teaching experience in undergraduate as independent instructor and
      graduate (PhD and Executive DBA) as either instructor or teaching
      assistant. Specifically, I taught undergraduate Data Analytics, which
      includes three topics: database design and SQL, data visualization, and
      advanced analytics in R. I also taught a workshop Python and Web Data
      Extraction, which was open to both PhD students and faculty. I have also
      been working as a teaching assistant for several doctoral seminars,
      quantitative methods courses and Executive DBA seminars.
    </p>
    <p>
      I have been working as the chief data scientist for an app company with 50
      million global users since June 2017. I also worked with a consulting team
      for a Fortunate 500 software company in Silicon Valley in 2015 and 2016.
    </p>
  </div>
  <div class="col-12 col-xl-3 col-sm-3">
    <img
      src="../../assets/me.jpg"
      title="personal photo"
      class="rounded img-fluid"
    />
  </div>
</div>
