<div class="article">
  <h1 class="global-page-title">About Me</h1>
  <div class="row justify-content-between">
    <div class="col-8">
      <p>
        2017 Research scientist in YeeCall, an app company in China with 40
        million global users. Focusing on solving app uninstallation, user
        engagement and customer retention.
      </p>
      <p>
        2015~2016 Team leader in Wharton Customer Analytics Initiative. Leading
        a research team working on customer retention for a Fortunate 500
        software company in Silicon Valley.
      </p>
      <p>
        Contact Me: <a [href]="'mailto:' + myEmail">{{ myEmail }}</a>
      </p>
    </div>
    <div class="col-3">
      <div class="title-height"></div>
      <img src="../../assets/me.jpg" class="rounded img-fluid" />
    </div>
  </div>
</div>
